/*
    ### Color pallet ###
    Off white = #EDEFF1
    Dark red = #9E0B0F
    Background gray = #1B1B1B
    Dark gray = #222222;
*/

body {
    background-color : #000000;
    color: #222222;
}

body a {
    color: #EDEFF1;
}

body label {
   color: #EDEFF1;
}

#header .tabmenu li a {
    background-color: #000000;
    color: #EDEFF1;
    padding: 10px 15px;
    text-transform: uppercase;
}

#header .tabmenu li a:hover {
    color: #9E0B0F;
}

#header .tabmenu li.selected a {
    color: #9E0B0F;
    border: 1px solid;
}

#header {
    height: 211px;
    background: url(%%RedditHeader-OldReddit%%) no-repeat 50% 19px;
    border-bottom-color : #9E0B0F;
    background-color : #1B1B1B;
}

#header-bottom-left {
    position: absolute;
    bottom: 10px;
}

#header-bottom-right {
    background-color : #222222;
}

.pagename {
    font-weight: bold;
    margin-right: 1ex;
    font-variant: small-caps;
    font-size: 1.2em;
    vertical-align: bottom;
    background-color: #9E0B0F;
    padding: 10px 15px;
}

.hover.pagename.redditname a {
    display: table-cell;
    vertical-align: initial;
    color: #EDEFF1;
}

.link {
    background: #1B1B1B;
    padding: 15px;
    border: 3px solid #222222;
    margin-right: 350px;
    border-radius: 6px;
}

.link.last-clicked {
    overflow: unset;
    border: 3px dashed #222222;
}

.link .usertext-body .md {
    border-radius: 6px;
}

.link .usertext-body .md h1 {
    color: #222222;
}

.buttons .give-gold.gold-give-gold {
    color: #a79128 !important;
}

.entry .buttons li a {
    color: #EDEFF1;
}

.comments-page .comment {
    background: #EDEFF1;
    margin: 8px 0 2px 15px;
}

.comments-page .comment .entry .buttons li a {
    color: #222222;
}

.comment {
    background: #EDEFF1;
}

.comment .entry .buttons li a {
    color: #222222
}

.commentarea .menuarea .toggle a {
    color: #EDEFF1;
}

.panestack-title .title {
    color: #EDEFF1;
}

.side {
    border: 2px solid #9E0B0F;
    margin: 7px 20px 0 20px;
    padding: 0px 10px;
    width: 300px;
    background-color: #FFFFFF
    line-height: 1.3;
    z-index: 10;
}

.entry a.title {
    color: #EDEFF1;
}

.entry a.title:visited {
    color: #EDEFF1;
}

a.author {
    color: #9E0B0F;
    font-size: 1.1em;
}

#sr-header-area a {
    color : #9E0B0F;
}

.sr-bar .separator {
    color : #9E0B0F;
}

#sr-header-area {
    border-bottom-color : #9E0B0F;
    background-color : #FFFFFF;
}

.content h1 {
    color: #EDEFF1;
}

body .formtabs-content {
    color: #EDEFF1;
}

body .formtabs-content a {
    color: #9E0B0F;
}

.formtabs-content {
    border-top: 3px solid #9E0B0F;
    margin-top: 10px;
}

.tabmenu.formtab li {
    margin-right: 20px;
}

.tabmenu.formtab li a {
    background-color: #000000;
    color: #EDEFF1;
    padding: 10px 15px;
    text-transform: uppercase;
}

.tabmenu.formtab li a:hover {
    color: #9E0B0F;
}

.tabmenu.formtab li.selected a {
    color: #9E0B0F;
    border: 1px solid;
    background-color: #000000;
    font-size: 100%;
}

.formtabs-content .infobar {
    color: #222222;
}

.spacer .roundfield {
    background-color: #1B1B1B;
}

.content.submit .info-notice {
    background-color: #1B1B1B;
    color: #EDEFF1;
}

.content.submit .info-notice a {
    color: #9E0B0F;
}

/* Change 'readers' box value */
div.titlebox span.word {
    display:none;
}

div.titlebox span.number:after {
    content: " Survivors";
}

/* Change 'users here now' box value */
.users-online .word {
    display:none;
}

.users-online .word, .users-online .number:after {
    content: " Fighting the Root" !important;
}

.stickied {
    border: 3px dashed #9E0B0F;
}

.stickied:last-of-type {
    margin-bottom: 15px;
}

.thing.stickied.link a.title {
    color: #9E0B0F;
}

.thing .md a {
    color:#9E0B0F;
    text-decoration: underline;
}

.thing .md a:hover {
    text-decoration: none;
}

.thing .md a:visited {
    color:#9E0B0F;
}

a.title {
    color:#EDEFF1;
}

a.title:hover {
    color:#EDEFF1;
}

a.title:visited {
    color:#EDEFF1;
}

.side {
    background-color: #EDEFF1;
}

.side a {
    color: #9E0B0F
}

.side a:visited {
    color: #9E0B0F
}

.spoiler-stamp {
    color: #9E0B0F;
}

/* Highlight Info */

/* Selected links */
div.entry.res-selected, .entry.res-selected .md-container {
    background-color: rgba(255,255,255,.15) !important;
}

/* Selected comment */
.commentarea div.entry.res-selected, .commentarea .entry.res-selected .md-container {
    background-color: #DADADA !important;
}



/* Upvote arrow */
.arrow.up {
    width: 0px;
    background-image:none;
    height: 0;
    border-bottom: 8px solid #bdbdbd;
    border-left: 8px solid #fff;
    border-left-color:transparent;
    border-right: 8px solid #fff;
    border-right-color:transparent;
    margin-bottom:6px;
}

.arrow.up:after {
    content:"";
    position:relative;
    top:7px;
    left:-3px;
    width:5px;
    height:6px;
    background: #bdbdbd;
    background-image: -webkit-linear-gradient(top, #bdbdbd, #dcdcdc);
    background-image: -moz-linear-gradient(top, #bdbdbd, #dcdcdc);
    background-image: -ms-linear-gradient(top, #bdbdbd, #dcdcdc);
    background-image: -o-linear-gradient(top, #bdbdbd, #dcdcdc);
    background: linear-gradient(to bottom, #bdbdbd, #dcdcdc);
    display:block;
}

.arrow.upmod {
    width: 0px;
    background-image:none;
    height: 0;
    border-bottom: 8px solid #9E0B0F;
    border-left: 8px solid #fff;
    border-left-color:transparent;
    border-right: 8px solid #fff;
    border-right-color:transparent;
    margin-bottom:6px;
}

.arrow.upmod:after {
    content:"";
    position:relative;
    top:7px;
    left:-3px;
    width:5px;
    height:6px;
    background: #9E0B0F;
    background-image: -webkit-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: -moz-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: -o-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: -ms-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: linear-gradient(to bottom, #9E0B0F, #9E0B0F);
    display:block;
}

/* Downvote arrow */
.arrow.down {
    width: 0px;
    height: 0;
    margin-top:8px;
    background-image: none;
    border-top: 8px solid #BDBDBD;
    border-left: 8px solid #FFF;
    border-left-color: transparent;
    border-right: 8px solid #FFF;
    border-right-color: transparent;
}

.arrow.down:after {
    content: "";
    position: relative;
    bottom: 13px;
    left: -3px;
    width: 5px;
    height: 6px;
    background: #BDBDBD;
    background-image: -webkit-linear-gradient(top, #DCDCDC, #BDBDBD);
    background-image: -moz-linear-gradient(top, #DCDCDC, #BDBDBD);
    background-image: -o-linear-gradient(top, #DCDCDC, #BDBDBD);
    background-image: -ms-linear-gradient(top, #DCDCDC, #BDBDBD);
    background-image: linear-gradient(to bottom, #DCDCDC, #BDBDBD);
    display: block;
}

.arrow.downmod {
    width: 0px;
    height: 0;
    margin-top: 8px;
    background-image: none;
    border-top: 8px solid #9E0B0F;
    border-left: 8px solid #FFF;
    border-left-color: transparent;
    border-right: 8px solid #FFF;
    border-right-color: transparent;
}

.arrow.downmod:after {
    content: "";
    position: relative;
    bottom: 13px;
    left: -3px;
    width: 5px;
    height: 6px;
    background: #9494FF;
    background-image: -webkit-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: -moz-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: -o-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: -ms-linear-gradient(top, #9E0B0F, #9E0B0F);
    background-image: linear-gradient(to bottom, #9E0B0F, #9E0B0F);
    display: block;
}